html, body{
    background-color: rgb(236, 208, 212);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header_img{
    height:100px;
}
header nav{
    background: #333;
    color: #fff;
    padding: 10px 0px;
    text-align: center;
    height: 45px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    padding: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.banner {
    background: url('banner.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

#products, #contact {
    padding: 20px;
    background: #f4f4f4;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    background: #fff;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    width: 30%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, textarea, button {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #555;
}
